/*
.row-glow {
    background: #dff0d8;
    transition-property: background;
    transition-duration: .4s;
}

.row-glow:hover {
    background: silver;
}
*/

.row-even {
    background: #bce8f1;
}

.row-odd {
    background: #dff0d8;
}

 .table>tbody>tr {
       transition-property: background;
    transition-duration: .4s;
}

 .table>tbody>tr:hover {
    background: silver;
}

.button {
    color: #211510;
    background: #fff;
    border: 2px solid;
    transition-property: background, border-radius, color;    
    transition-duration: .4s, .8s, .4s;
}

.button:hover {
    color: #fff;
    background: #211510;
    border-radius: 1em;
}

.button:active {
    background: #999999}

.btn-curved {
    transition-property: border-radius;
    transition-duration: .4s;
}

.btn-curved:hover{
    border-radius: 4em;
}

.btn-green,
.btn-green:hover {
    color: hsl(121, 32%, 34%);
    background: hsl(121, 32%, 74%);
    border-color: #d6e9c6;
}


.btn-blue,
.btn-blue:hover {
    font-weight: bold;
    color: #4a99ca;
    background: #fff;
    border: 2px solid;
    border-radius: 0;
}

.btn-blue-selected,
.btn-blue-selected:hover {
    color: #fff;
    background: #4a89ca;
    border-radius: 0;
}





.image-hover:hover {
/*
    opacity: 0;
    transition-duration: .4s;
*/
}

.form__input {
    border: 3px solid;
    border-color: #f0f0f0;
    transition-property: border-color;
    transition-duration: .6s;
}

.form__input:focus {

}


