/** {*/
    /*border: 2px solid red;*/
/*}*/

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
/*    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-family: 'Sansation Bold';
    background-color: #f0f0f0;
    color: #999;
/*    background-color: */
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}


.navbar-custom a {
/*    color: #fff;*/
    color: #999;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: red;
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: red;
}

.section {
    margin-top: 150px;
}

.top-margin {
    margin-top: 51px;
}

#panel-heading h3,
#panel-heading button {
    display: inline-block;
}

#panel-heading button {
    float: right;
}

#panel-heading button:active {
    border: hidden;
}




/*customizing tooltip color*/
/*right tooltip*/


/*top tooltip*/
.tooltip.top > .tooltip-arrow {
    border-top-color: orange;
}


/*tooltip inner*/
.tooltip > .tooltip-inner {
    background-color: #080d21;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    font-weight: normal;
    text-align: left;
}

.poor {
    color: #9d9d9d;
}
.common {
    color: #FFF;
}
.uncommon {
    color: #1eff00;
}

.rare {
    olor: #0070ff;
}

.epic {
    color: #a335ee;
}

.legendary {
    color: #ff8000;
}

.artifact {
    color: #e6cc80;
}

.heirloom {
    color: #e6cc80;
}

.boss-yellow-text {
    color: #ffd100;
}
.item-yellow-text {
     color: #ffd100;
 }

.item-white-text {
    color: #fff;
}

.item-text-green {
    color: #1eff00;

}

.boss-name {
    font-size: 14px;
}

.currency-copper {
    color: #b48d66;
}

.currency-silver {
    color: #a5a6a1;
}

.currency-gold {
    color: #c3ae1f;
}

.wrapper {
    width: 1006px;
    margin: 0 auto;
    position: relative;
    padding: 0;
    border: 0;
    outline: 0;
    margin-bottom: 10%;
}

.content {
    display: block;
    height: 100vh;
}

.content-top {
    height: 100%;
    /*background: url("http://us.battle.net/wow/static/images/character/summary/backgrounds/race/1.jpg");*/
}
.profile-wrapper {
    height: 100%;

}

.profile-sidebar-anchor {
    float: left;
     height: 0;
     width: 0;
    position: relative;

 }

.profile-sidebar-outer {
    position: absolute;
    left: 0;
    top: 0;
}

.profile-sidebar-inner {
    background-image: url('http://us.battle.net/wow/static/images/character/summary/sidebar-bg.png');
}

.profile-info-anchor {
    width: 768px;
    position: relative;
    /*height: 218px;*/
    /*background: no-repeat;*/
    /*z-index: 1;*/
}

.profile-info {
    position: absolute;
    left: 25px;
    top: 45px;
    line-height: normal;
    letter-spacing: -0.05em;
}

.profile-info .name {
    float: left;
    font-size: 56px;
    font-weight: bold;
    color: white;
    line-height: 1.1em;
    position: relative;
    left: -3px;
    letter-spacing: -0.05em;
}

.profile-info .under-name {
    font-size: 14px;
    font-weight: normal;
    line-height: 14px;
    letter-spacing: normal;
    color: white;
}

.character-class {
    color: white;
}
.realm {
    color: #0078ff;
}

.clear {
    clear: both;
    display: block;
    margin: 0;
    padding: 0;

}

.profile-contents {
    margin-left: 0;
}


.summary-top {
    margin-left: 230px;
    height: 700px;
    width: 762px;

}
.summary-top-right {
    width: 762px;
    height: 148px;
    position: relative;
 }

.summary-top-inventory {
    width: 762px;
    height: 540px;
    position: relative;
    z-index: 1;
}