/** {*/
    /*border: 2px solid red;*/
/*}*/

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
/*    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-family: 'Sansation Bold';
    background-color: #f0f0f0;
    color: #999;
/*    background-color: */
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}


.navbar-custom a {
/*    color: #fff;*/
    color: #999;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: red;
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: red;
}

.section {
    margin-top: 150px;
}

.top-margin {
    margin-top: 51px;
}

#panel-heading h3,
#panel-heading button {
    display: inline-block;
}

#panel-heading button {
    float: right;
}

#panel-heading button:active {
    border: hidden;
}

#info-window {
    position: relative;
    background: yellow;
    width: 200px;
    height: 200px;
}

/*customizing tooltip color*/
/*right tooltip*/


/*top tooltip*/
.tooltip.top > .tooltip-arrow {
    border-top-color: orange;
}


/*tooltip inner*/
.tooltip > .tooltip-inner {
    background-color: #080d21;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    font-weight: normal;
    text-align: left;
}

.poor {
    color: #9d9d9d;
}
.common {
    color: #FFF;
}
.uncommon {
    color: #1eff00;
}

.rare {
    olor: #0070ff;
}

.epic {
    color: #a335ee;
}

.legendary {
    color: #ff8000;
}

.artifact {
    color: #e6cc80;
}

.heirloom {
    color: #e6cc80;
}
.item-yellow-text {
     color: #ffd100;
 }

.item-white-text {
    color: #fff;
}

.item-text-green {
    color: #1eff00;

}