<table>
    <tbody>
    <tr>
        <td>
            <span ng-show='boss.name'> {{ feedItem.name }} this should not show<br> </span>
            <span ng-if='boss.name' class='boss-name'> {{ boss.name }} <br> <br> </span>
            <span ng-if='boss.level' class='boss-yellow-text'>Level: </span> {{ boss.level }} <br>
            <span ng-if='boss.health' class='boss-yellow-text'>Health: </span> {{ boss.health }} <br>
            <span ng-if='boss.zoneId' class='boss-yellow-text'>Location: </span> {{ boss.zoneId }} <br>
            {{ boss.description }}

        </td>
    </tr>
    </tbody>
</table>