<p>
    <a href = "#/">Back to Search</a>
</p>
Results for {{ name }} on {{ selectedRealm }}
<hr />
<div class="media" ng-show="characterResult">
  <div class="media-left media-top">
    <a href="#">
      <img class="media-object image-hover" src="http://render-api-us.worldofwarcraft.com/static-render/us/{{ characterResult.thumbnail }}" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h2 class="media-heading">{{ characterResult.name }}</h2>
      <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">{{ characterResult.level }} {{ raceMap(characterResult.race) }} {{ classMap(characterResult.class) }}, {{ characterResult.realm }}</h3>
          </div>
          <div class="panel-body"> 
              <b>Faction</b>: {{ factionMap(characterResult.faction) }} <br>
              <b>Gender</b>: {{ genderMap(characterResult.gender) }} <br>
              <b>Battlegroup</b> : {{ characterResult.battlegroup }} <br>
              <b>AchievementPoints</b>: {{ characterResult.achievementPoints }} <br>
              <b>Total Honorable Kills</b>: {{ characterResult.totalHonorableKills }} <br>
              <b>Last Modified</b>: {{ convertToStandard(characterResult.lastModified) }}
          </div>
      </div>
      <div class="panel panel-success" >
          <div class="panel-heading" id="panel-heading">
              <h3 class="panel-title">Feed</h3>
              <button ng-class="{ 'btn-blue': showFeed, 'btn-blue-selected': !showFeed }" ng-click="showFeed =! showFeed"> {{ buttonText }} </button>
          </div>
          <div class="panel-body" ng-show="showFeed">
              <form>
                  <div class="form-group">
                      <div class="input-group">
                          <div class="input-group-addon"><i class="fa fa-search"></i></div>

                          <input type="text" class="form-control" placeholder="Search feed" ng-model="searchFeed" ng-click="showFeed = !showFeed">

                      </div>
                  </div>
              </form>
              <table class="table table-bordered" id="table-feed">
                  <thead>
                  <tr>
                      <td>
                          <a href="" ng-click="sortType = 'type'; sortReverse = !sortReverse">
                              Type
                              <span ng-show="sortType == 'type' && !sortReverse" class="fa fa-caret-down"></span>
                              <span ng-show="sortType == 'type' && sortReverse" class="fa fa-caret-up"></span>
                          </a>
                      </td>
                      <td>
                          <a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                             Name
                          <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                          <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                      </a>
                      </td>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-show="feedItem.name || feedItem.title" ng-repeat="feedItem in list | orderBy:sortType:sortReverse | filter:searchFeed" ng-class="'row-glow'" ng-class-even="'row-even'" ng-class-odd="'row-odd'">
                      <td>{{ feedItem.type }}</td>
                      <td data-toggle="tooltip" data-placement="top"
                      title="{{  feedItem.icon ? '<img src=\'http://media.blizzard.com/wow/icons/36/' + feedItem.icon + '.jpg\'>

                      <table>
                        <tbody>
                        <tr>
                            <td>
                                <table class=&#34;lootTable&#34;>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <b class=&#34;' + itemqualityMap(feedItem.quality) + '&#34;>' +  feedItem.name + '</b>
                                            <span> <br>Item Level ' + feedItem.itemLevel + ' </span> <br>
                                            <span>' + itemupgradableMap(feedItem.upgradable) + ' </span> <br>'
                                            + itembindMap(feedItem.itemBind) + '<br>

                                            <table>
                                                <tbody>
                                                <tr>
                                                    <th>
                                                        <span>' + feedElement.itemClass + '</span>
                                                    </th>
                                                </tr>
                                                </tbody>
                                                <span>' + feedItem.armor + ' Armor</span> <br>

                                                Durability ' +feedItem.maxDurability + '<br>
                                                Requires level ' + feedItem.requiredLevel + '<br>
                                                Sell price: ' + feedItem.sellPrice + '
                                            </table>

                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>














                   ' : '' + feedItem.name + '' }} <br> Acquired: {{ convertToStandard(feedItem.timestamp) }} <br> ">{{ feedItem.name  || feedItem.title }}</td>
                  </tr>
                  </tbody>
              </table>
          </div>
      </div>
    </div>
</div>


<div ng-hide="characterResult">
    No characters found with that name.
</div>



// feedElement['name'] = response.data.name;
// feedElement['icon'] = response.data.icon;
// feedElement['armor'] = response.data.armor;
// feedElement['bonusStats'] = response.data.bonusStats;
// feedElement['buyPrice'] = response.data.buyPrice;
// feedElement['requiredLevel'] = response.data.requiredLevel;
// feedElement['socketInfo'] = response.data.socketInfo;
// feedElement['upgradeable'] = response.data.upgradeable;
// feedElement['itemLevel'] = response.data.itemLevel;
// feedElement['itemBind'] = response.data.itemBind;
// feedElement['itemClass'] = response.data.itemClass;
// feedElement['maxDurability'] = response.data.maxDurability;
// feedElement['sellPrice'] = response.data.sellPrice;

// characterService.getItem(itemId, function (response) {
//     console.log(response.data);
// }, function (err) {
//     console.log(err.status);
// });

<!--<table>-->
    <!--<tbody>-->
    <!--<tr>-->
        <!--<td>-->
            <!--<table>-->
                <!--<tbody>-->
                <!--<tr>-->
                    <!--<td>-->
                        <!--<b> {{ feedItem.name  }} </b>-->
                        <!--<span> <br>Item Level  {{ feedItem.itemLevel }}</span> <br>-->
                        <!--<span>Upgrade able {{ feedItem.upgradeable }}</span> <br>-->
                        <!--{{ feedItem.itemBind}}-->
                        <!--<table>-->
                            <!--<tbody>-->
                            <!--<tr>-->
                                <!--<th>-->
                                    <!--<span> {{ feedElement.itemClass}}</span>-->
                                <!--</th>-->
                            <!--</tr>-->
                            <!--</tbody>-->
                            <!--<span > {{ feedItem.armor}} Armor</span> <br>-->
                            <!--<span ng-repeat="bonusStat in feedItem.bonusStats">-->
                                  <!--{{ bonusStats.bonusStat }}-->
                            <!--</span> <br>-->
                            <!--<br>-->

                            <!--<span ng-repeat="socket in socketlist">-->
                                  <!--{{ socket.socketlist }}-->
                            <!--</span> <br>-->
                            <!--<span ng-repeat="socketBonus in feedItem.socketBonus">-->
                                  <!--{{ feedItem.socketBonus.socketBonus }}-->
                            <!--</span> <br>-->
                            <!--Durability {{feedItem.maxDurability}} <br>-->
                            <!--Requires level {{ feedItem.requiredLevel }}-->
                            <!--Sell price: {{ feedItem.sellPrice  }}-->
                        <!--</table>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</td>-->
    <!--</tr>-->
    <!--</tbody>-->
<!--</table>-->

<!--<table>-->
    <!--<tbody>-->
    <!--<tr>-->
        <!--<td>-->
            <!--<table>-->
                <!--<tbody>-->
                <!--<tr>-->
                    <!--<td>-->
                        <!--<b> {{ feedItem.name  }} </b>-->
                        <!--<span> <br>Item Level  {{ feedItem.itemLevel }}</span> <br>-->
                        <!--<span>Upgrade able {{ feedItem.upgradeable }}</span> <br>-->
                        <!--{{ feedItem.itemBind}}-->
                        <!--<table>-->
                            <!--<tbody>-->
                            <!--<tr>-->
                                <!--<th>-->
                                    <!--<span> {{ feedElement.itemClass}}</span>-->
                                <!--</th>-->
                            <!--</tr>-->
                            <!--</tbody>-->
                            <!--<span > {{ feedItem.armor}} Armor</span> <br>-->
                            <!--<span ng-repeat=/'bonusStat in feedItem.bonusStats/'>-->
                            <!--{{ bonusStats.bonusStat }}-->
                            <!--</span> <br>-->
                            <!--<br>-->
                            <!--<span ng-repeat=/'socket in socketlist/'>-->
                            <!--{{ socket.socketlist }}-->
                            <!--</span> <br>-->
                            <!--<span ng-repeat=/'socketBonus in feedItem.socketBonus/'>-->
                            <!--{{ feedItem.socketBonus.socketBonus }}-->
                            <!--</span> <br>-->
                            <!--Durability {{feedItem.maxDurability}} <br>-->
                            <!--Requires level {{ feedItem.requiredLevel }}-->
                            <!--Sell price: {{ feedItem.sellPrice  }}-->
                        <!--</table>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</td>-->
    <!--</tr>-->
    <!--</tbody>-->
<!--</table>-->