<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h4>Character by Server</h4>
        <form ng-submit="submit()">
            <div class="form-group">
                <input type="text" ng-model="name" class="form-control form__input" placeholder="Enter a name"/>
            </div>
                <label for="realmSelect"> Realm: </label>
                <select name="realmSelect" ng-model="selectedRealm">
                  <option ng-repeat="r in realmsResult.realms" value="{{ r.name }}" >{{ r.name }}</option>
                </select>
        <input type="submit" class="button" value="Get Character" />
        </form>
    </div>
</div>