<div class="padding-results">
<p>
    <a href = "#/">Back to Search</a>
</p>
Results for {{ name }} on {{ selectedRealm }}
<!--<hr />-->
</div>
<div class="media" ng-show="characterResult">
    <div class="wrapper">
        <div class="content">
            <div class="content-top">
                <div class="profile-wrapper">
                    <div class="profile-sidebar-anchor">
                        <div class="profile-sidebar-outer">
                            <div class="profile-sidebar-inner">
                                <div class="profile-info-anchor">
                                    <div class="profile-info">
                                        <div class="name">
                                            {{ characterResult.name }}
                                        </div>
                                        <div class="title">
                                            <div class="guild">
                                            </div>
                                        </div>
                                        <span class="clear"></span>
                                        <div class="under-name">
                                            <span class="level">
                                                <strong> {{ characterResult.level }}</strong>
                                            </span>
                                            <span class="character-class"> {{ raceMap(characterResult.race) }} {{ classMap(characterResult.class) }},</span> <span class="realm"> {{ selectedRealm  }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-contents">
                        <div class="summary-top">
                            <div class="summary-top-right">
                                <div class="summary-top-inventory">
                                    <div id="summary-inventory" class="summary-inventory">
                                        <div ng-repeat="i in inventory" class="slot">
                                            <div class="slot-inner">
                                                <div class="slot-contents">
                                                    <inventory-Item></inventory-Item>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="summary-bottom">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <!--<div class="media-left media-top">-->
        <!--<a href="#">-->
          <!--<img class="media-object image-hover" src="http://render-api-us.worldofwarcraft.com/static-render/us/{{ characterResult.thumbnail }}" alt="...">-->
        <!--</a>-->
      <!--</div>-->
      <div class="media-body padding-table">
        <!--<h2 class="media-heading">{{ characterResult.name }}</h2>-->
          <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">{{ characterResult.level }} {{ raceMap(characterResult.race) }} {{ classMap(characterResult.class) }}, {{ characterResult.realm }}</h3>
              </div>
              <div class="panel-body">
                  <b>Faction</b>: {{ factionMap(characterResult.faction) }} <br>
                  <b>Gender</b>: {{ genderMap(characterResult.gender) }} <br>
                  <b>Battlegroup</b> : {{ characterResult.battlegroup }} <br>
                  <b>AchievementPoints</b>: {{ characterResult.achievementPoints }} <br>
                  <b>Total Honorable Kills</b>: {{ characterResult.thk }} <br>
                  <b>Last Modified</b>: {{ convertToStandard(characterResult.lastModified) }}
              </div>
          </div>
          <div class="panel panel-success" >
              <div class="panel-heading" id="panel-heading">
                  <h3 class="panel-title">Feed</h3>
                  <button  ng-class="{ 'btn-blue': showFeed, 'btn-blue-selected': !showFeed }" ng-click="showFeed =! showFeed"> {{ buttonText }} </button>
              </div>
              <div class="panel-body" ng-show="showFeed">
                  <form>
                      <div class="form-group">
                          <div class="input-group">
                              <div class="input-group-addon"><i class="fa fa-search"></i></div>
                              <input type="text" class="form-control" placeholder="Search feed" ng-model="searchFeed">
                          </div>
                      </div>
                  </form>
                  <feed-table></feed-table>
              </div>
          </div>
      </div>
</div>


<div ng-hide="characterResult">
    No characters found with that name.
</div>

