<div ng-controller="searchCtrl" class="row">
    <div class="col-md-6 col-md-offset-3">
        <h4>Character by Server</h4>
        <form ng-submit="submit()">
            <div class="form-group">
                <input type="text" ng-model="name" class="form-control form__input" placeholder="Enter a name"/>
            </div>
                <label id="label_realm" for="realmSelect">Realm: </label>
                <select class="text-black" name="realmSelect" ng-model="selectedRealm">

                  <option ng-repeat="r in realmsResult.realms" value="{{ r.name }}" >{{ r.name }}</option>
                </select>
        <input type="submit" class="button" value="Get Character" />
        </form>
    </div>
    <div class="col-md-6 col-md-offset-3 top-buffer">
        Some examples of characters are:
        <table class="table top-small-buffer">
            <thead>
            <tr>
                <td>
                    <!--<a href="" ng-click="sortType = 'type'; sortReverse = !sortReverse">-->
                        <b>Name</b>
                        <span ng-show="sortType == 'type' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'type' && sortReverse" class="fa fa-caret-up"></span>
                    <!--</a>-->
                </td>
                <td>
                    <!--<a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">-->
                        <b>Realm</b>
                        <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                    <!--</a>-->
                </td>
            </tr>
            </thead>
            <tbody>
            <tr ng-click="choose_character('Leouric', 'Emerald Dream')">
                <!--<a ng-href="#/characterResult">-->
                <td class="character_color">
                    Leouric
                </td>
                <td class="zone_color">
                    Emerald Dream
                </td>
                <!--</a>-->
            </tr>
            <tr ng-click="choose_character('Doreius', 'Emerald Dream')">
                <td class="character_color">
                    Doreius
                </td>
                <td class="zone_color">
                    Emerald Dream
                </td>
            </tr>
            <tr ng-click="choose_character('Swifty', 'Smolderthorn')">
                <td class="character_color">
                    Swifty
                </td>
                <td class="zone_color">
                    Smolderthorn
                </td>
            </tr>
            <tr ng-click="choose_character('Swifty', 'Garithos')">
                <td class="character_color">
                    Swifty
                </td>
                <td class="zone_color">
                    Garithos
                </td>
            </tr>
            <tr ng-click="choose_character('Swifty', 'Scilla')">
                <td class="character_color">
                    Swifty
                </td>
                <td class="zone_color">
                    Scilla
                </td>
            </tr>
            <tr ng-click="choose_character('Towelliee', 'Stormrage')">
                <td class="character_color">
                    Towelliee
                </td>
                <td class="zone_color">
                    Stormrage
                </td>
            </tr>
            <tr ng-click="choose_character('Towelliee', 'Ravenholdt')">
                <td class="character_color">
                    Towelliee
                </td>
                <td class="zone_color">
                    Ravenholdt
                </td>
            </tr>
            </tbody>
        </table>
    </div>
