<table class="table table-bordered" id="table-feed">
    <thead>
    <tr>
        <td>
            <a href="" ng-click="sortType = 'type'; sortReverse = !sortReverse">
                Type
                <span ng-show="sortType == 'type' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'type' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </td>
        <td>
            <a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                Name
                <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </td>
        <td>
            <a href="" ng-click="sortType = 'date'; sortReverse = !sortReverse">
                Date
                <span ng-show="sortType == 'date' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'date' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </td>
    </tr>
    </thead>
    <tbody>
    <tr ng-switch on="feedItem.type" ng-show="feedItem.name || feedItem.title" ng-repeat="feedItem in list | orderBy:sortType:sortReverse | filter:searchFeed" ng-class="'row-glow'" ng-class-even="'row-even'" ng-class-odd="'row-odd'">
        <td>{{ feedItem.type }}</td>
        <!--<span ng-switch on="feedItem.icon">-->

        <td ng-switch-when="LOOT" tooltip-append-to-body="true" tooltip-placement="top" uib-tooltip-template="'templates/lootTooltip.htm'">{{ feedItem.name  || feedItem.title }}</td>

        <td ng-switch-when="BOSSKILL" tooltip-append-to-body="true" tooltip-placement="top" uib-tooltip-template="'templates/bossTooltip.htm'">{{feedItem.quantity }} {{ feedItem.title }}</td>
        <!--<td ng-switch-when="BOSS-YES" data-toggle="tooltip" data-placement="top" data-html="true" title="-->
                                              <!--<table>-->
                                                  <!--<tbody>-->
                                                      <!--<tr>-->
                                                          <!--<td>-->
                                                              <!--<span> {{ bossMap(feedItem) }} </span>-->
                                                              <!--<span class='boss-name'> {{ boss.name }} </span> <br> <br>-->
                                                              <!--<span class='boss-yellow-text'>Level: </span> {{ boss.level }} <br>-->
                                                              <!--<span class='boss-yellow-text'>Health: </span> {{ boss.health }} <br>-->
                                                              <!--<span class='boss-yellow-text'>Location: </span> {{ zoneMap(boss.zoneId) }} <br>-->
                                                              <!--{{ boss.description }}-->
                                                          <!--</td>-->
                                                      <!--</tr>-->
                                                  <!--</tbody>-->
                                              <!--</table>">-->
            <!--{{feedItem.quantity }} {{ feedItem.title }}</td>-->
        <!--<td ng-switch-when="BOSS-NO">{{feedItem.quantity }} {{ feedItem.title }}</td>-->
        <td ng-switch-default tooltip-append-to-body="true" tooltip-placement="top" uib-tooltip-template="'templates/achievementTooltip.htm'">{{ feedItem.name  || feedItem.title }}</td>
        <!--<td ng-switch-default data-toggle="tooltip" data-placement="top" title="{{ feedItem.name }} <br> Acquired: {{ convertToStandard(feedItem.timestamp) }} <br>">{{ feedItem.name  || feedItem.title }}</td>-->
        <td> {{ convertToStandard(feedItem.timestamp) }}</td>
        <!--<td ng-switch-default data-toggle="tooltip" data-placement="top" title="{{ feedItem.name }} <br> Acquired: {{ convertToStandard(feedItem.timestamp) }} <br>">{{ feedItem.name  || feedItem.title }}</td>-->
        <!--<td> {{ convertToStandard(feedItem.timestamp) }}</td>-->
    </tr>
    </tbody>
</table>