<img src='http://media.blizzard.com/wow/icons/56/{{ i.icon }}.jpg'>
<table>
    <tbody>
    <tr>
        <td>
            <b ng-class= "{poor: i.quality == 1, common: i.quality == 2, uncommon: i.quality == 3, rare: i.quality == 4, epi: i.quality == 5, legendary: i.quality == 6, artifact: i.quality == 7, heirloom: i.quality == 8}"> {{  i.name }} </b> <br>
            <!--<b class= {{ itemqualityMap(i.quality) }}> {{  i.name }} </b> <br>-->
            Item Level {{ i.itemLevel }} <br>
            <!--{{ itemupgradableMap(i.upgradable) }} </span> <br>-->
            <span class="item-white-text"> {{ itembindMap(i.itemBind) }}</span> <br>
            <span ng-show="i.armor"> {{ i.armor }} Armor<br></span>
            <span ng-bind-html="calcStats($index) | unsafe"></span>
            <!--<span> {{ bonusstatsParse(i.bonusStats) }} </span>-->
            <br>
            <span ng-show="i.maxDurability">Durability {{ i.maxDurability }} <br></span>
            <!--Durability {{ i.maxDurability }} <br>-->
            <span ng-show="i.requiredLevel">Requires level {{ i.requiredLevel }} <br></span>
            <span ng-bind-html="calcGold($index) | unsafe"></span>
            <!--Sell price: {{ convertGold(i.sellPrice) }}-->
        </td>
    </tr>
    </tbody>
</table>