<img src='http://media.blizzard.com/wow/icons/36/{{ feedItem.icon }}.jpg' />
<table>
    <tbody>
    <tr>
        <td>
            <b ng-class="{poor: feedItem.quality == 1, common: feedItem.quality == 2, uncommon: feedItem.quality == 3, rare: feedItem.quality == 4, epic: feedItem.quality == 5, legendary: feedItem.quality == 6, artifact: feedItem.quality == 7, heirloom: feedItem.quality == 8}"> {{  feedItem.name }} </b> <br>
            <span class='item-yellow-text'>Item Level {{ feedItem.itemLevel }} <br> {{ itemupgradableMap(feedItem.upgradable) }} </span> <br>
            <span> {{ itembindMap(feedItem.itemBind) }}</span> <br>
            <span ng-show="feedItem.armor"> {{ feedItem.armor }} Armor <br></span>
            <span ng-bind-html="calcStats(feedItem.bonusStats) | unsafe"></span>
            <br>
            <span ng-show="feedItem.maxDurability">Durability {{ feedItem.maxDurability }} <br></span>
            Requires level {{ feedItem.requiredLevel }} <br>
            <span ng-bind-html="calcGold(feedItem) | unsafe"></span>
        </td>
    </tr>
    </tbody>
</table>